<div class="input-component container">
    <h3>Get ready to fight...</h3>
    <div class="inputs">
        <div class="input-pokemon">
            <input type="text" id="pokemon-name" class="input-pokemon-name" placeholder="Capture your Pokemon..." onkeypress="handleKeyPress(event)">
        </div>
        <label class="hide container" id="input-component-error">Error</label>
    </div>
</div>

<div class="container-buttons container">
        <input type="button" value="Choose You" class="button" id="get-pokemons">
        <input type="button" value="Don't Catch" class="button" id="clean-pokemons">
        <input type="button" value="Come Back" class="button" id="back-pokemons">
</div>

<div class="container-card container" id="container-card"></div>    
