.container-message{
    display: flex;
    justify-content: center;
}

label{
    padding: 5px;
    margin-top: 4vh;
    border-radius: 5px;
    width: 31%;
    background: #fff3cd;
    text-align: center;
}

.input-component {
    display: block;
    margin-bottom: 20px;
}

.inputs{
    display: block;
}

.container-buttons{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    margin-top: 5vh;
}

.input-pokemon{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.button, .input-pokemon-name{
    padding: 5px;
    border-radius: 5px;
    background: white;
    text-align: center;
}

.input-pokemon-name{
    width: 16em;
    font-size: 1.2em;
    border: 3px solid darkslateblue;
}

.button{
    width: 10em;
}

#get-pokemons{
    border: 3px solid #28a745;
    color: #28a745;
}

#get-pokemons:hover{
    background: #28a745;
    border: 3px solid #28a745;
    color: white;
    cursor: pointer;
}

#get-pokemons:disabled{
    background: white;
    border: 3px solid #28a745;
    color: #6c757d;
    cursor: auto;
}

#clean-pokemons{
    border: 3px solid #ffc107;
    color: #ffc107;
    margin-left: 2em;
}

#clean-pokemons:hover{
    background: #ffc107;
    border: 3px solid #ffc107;
    color: white;
    cursor: pointer;
}

#clean-pokemons:disabled{
    background: white;
    border: 3px solid #ffc107;
    color: #6c757d;
    cursor: auto;
}

#back-pokemons{
    border: 3px solid #dc3545;
    color: #dc3545;
    margin-left: 2em;
}

#back-pokemons:hover{
    background: #dc3545;
    border: 3px solid #dc3545;
    color: white;
    cursor: pointer;
}

#back-pokemons:disabled{
    background: white;
    border: 3px solid #dc3545;
    color: #6c757d;
    cursor: auto;
}

#add-pokemon{
    border: 3px solid #28a745;
    color: #28a745; 
    border-radius: 8px;
}

#add-pokemon:hover{
    background: #28a745;
    border: 3px solid #28a745;
    color: white;
    cursor: pointer;
}