<h3>Get ready to fight...</h3>

<div class="input-component">
    <div class="inputs">
        <div class="input-pokemon">
            <input type="text" id="pokemon-name" [(ngModel)]="pokemon_name" (keyUp.enter)="browseOne(pokemon_name)" class="input-pokemon-name" placeholder="Capture your Pokemon...">
        </div>
        <div class="container-message">
            <label id="input-component-error" *ngIf="error">Status: {{ message }}</label>
        </div>
    </div>
</div>

<div class="container-buttons">
        <button class="button" id="get-pokemons" [disabled]="!pokemon_name" (click)="browseOne(pokemon_name)">
            Choose You
        </button>
        <button class="button" id="clean-pokemons" [disabled]="!pokemon_name" (click)="clean()">
            Don't Catch
        </button>
        <button class="button" id="back-pokemons" [disabled]="!browsing" (click)="comeBack()">
            Come Back
        </button>
</div>

<div class="container-card" id="container-card">
    <div class="card" id="" *ngIf="browsing" [ngStyle]="{'background': background_colors[pokemon.type]}">
        <div class="card-body">
            <div class="img-container">
                <img [src]="pokemon.sampleImage" alt="image-profile-pokemon" class="img-pokemon">
            </div>
            <h5 class="order-pokemon">Id: {{ pokemon.id_pokemon }}</h5>
            <h4>Name: {{ pokemon.name }}</h4>
            <p>Base Experience: {{ pokemon.base_experience }}</p>
            <p class="text-type">Type: {{ pokemon.type }}</p>

            <div class="container-buttons">
                <button id="add-pokemon" (click)="postPokemon(pokemon)">
                    Add to Collection
                </button>
            </div>
        </div>      
    </div>
</div>     
