<header>
    <img class="logo" src="assets/logo.jpg" alt="Logo-Pokedex">
    <a class="h1" routerLink="search">
      <h1>Pokedex</h1>
    </a>
    <nav>
        <ul>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="search">
              <i class="fas fa-user-cog"></i>
              Search
            </a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="collection">
              <i class="fas fa-power-off"></i>
              Collection
            </a>
          </li>
          <li routerLinkActive="active" class="nav-item">
            <a class="nav-link" routerLink="team">
              <i class="fab fa-teamspeak"></i>
              Team
            </a>
          </li>
        </ul>
    </nav>
</header>
