<h3>Collection</h3>

<div class="container-card container" id="container-card">
    <div class="card container" id="">
        <div class="card-body">
            <div class="container-buttons">
                <button id="delete-pokemon">
                <i class="fas fa-ban"></i>
                </button>
            </div>

            <div class="img-container">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="image-profile-pokemon" class="img-pokemon">
            </div>
            <h5 class="order-pokemon">Order: </h5>
            <h4>Name: </h4>
            <p>Base Experience: </p>
            <p class="text-type">Type: </p>
        </div>      
    </div>
</div>  
