<h3>Collection</h3>

<div class="container-card container" id="container-card">
    <div class="card container" id="" *ngFor="let pokemon of pokemons" [ngStyle]="{'background': background_colors[pokemon.type]}">
        <div class="card-body">
            <div class="img-container">
                <img [src]="pokemon.sampleImage" alt="image-profile-pokemon" class="img-pokemon">
            </div>
            <h5 class="order-pokemon">Id: {{ pokemon.id_pokemon }}</h5>
            <h4>Name: {{ pokemon.name }}</h4>
            <p>Base Experience: {{ pokemon.base_experience }}</p>
            <p class="text-type">Type: {{ pokemon.type }}</p>

            <div class="container-buttons">
                <button id="remove-pokemon" (click)="deletePokemon(pokemon)">
                    Remove
                </button>
            </div>
        </div>      
    </div>
</div> 

