<div class="container">
    <h3>Team´s</h3>

    <div class="row">
    
        <div class="column container">
            <h4 clas="title">List of Team´s</h4>
            
            <table class="table-team-player container">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Player</th>
                    <th>Level</th>
                    <th>Pokemon Holder</th>
                    <th>Pokemon Substitute</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngFor="let team of teams">
                    <tr>
                        <th> {{ team.id }} </th>
                        <td> {{ team.name_team }} </td>
                        <td> {{ team.nickname_player }} </td>
                        <td> {{ team.level }} </td>
                        <td> 
                            {{ team.pokemon_holder }} 

                            <button id="view-pokemon-h" (click)="viewPokemon(team.pokemon_holder)">
                                <i class="fas fa-eye"></i>
                            </button>
                        </td>
                        <td> 
                            {{ team.pokemon_substitute }} 

                            <button id="view-pokemon-s" (click)="viewPokemon(team.pokemon_substitute)">
                                <i class="fas fa-eye"></i>
                            </button>
                        </td>
                        <td>
                        <div class="container-buttons">
                            <button id="edit-team" (click)="viewTeam(team)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button id="delete-team" (click)="deleteTeam(team)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="container-card" id="container-card" *ngIf="isViewPokemon">
                <div class="card container" id="" [ngStyle]="{'background': background_colors[pokemon.type]}">
                    <div class="card-body">
                        <div class="img-container">
                            <img [src]="pokemon.sampleImage" alt="image-profile-pokemon" class="img-pokemon">
                        </div>
                        <h5 class="order-pokemon">Id: {{ pokemon.id_pokemon }}</h5>
                        <h4>Name: {{ pokemon.name }}</h4>
                        <p>Base Experience: {{ pokemon.base_experience }}</p>
                        <p class="text-type">Type: {{ pokemon.type }}</p>

                        <div class="container-buttons">
                            <button id="cancel-pokemon" (click)="cancelPokemon()">
                                Come Back
                            </button>
                        </div>
                    </div>      
                </div>
            </div> 
        </div>

        <div class="column container">
            <h4 clas="title"> {{ titleForm }} </h4>

            <div class="container__form">
                <form class="modal__form" [formGroup]="formsTeams">
                    <div class="inputs">
                        <label for="name_team" id="label-name">Name</label>
                        <input type="text" class="input-team" id="name_team" placeholder="Enter the team´s player" formControlName="name_team">

                        <label for="nickname_player">Player</label>
                        <input type="text" class="input-team" id="nickname_player" placeholder="Enter the team´s player" formControlName="nickname_player">

                        <label form="level">Level</label>
                        <input type="text" class="input-team" id="level" placeholder="Enter the team´s level" formControlName="level">

                        <label for="pokemon_holder">Pokemon Holder</label>
                        <select class="form-control" class="input-team" id="pokemon_holder" formControlName="pokemon_holder">
                                <option [value]="null" disabled selected>Select your holder Pokemon...</option>
                                <option *ngFor="let pokemon of pokemons" [value]="pokemon.id_pokemon"> {{ pokemon.name }} </option>
                        </select>

                        <label for="pokemon_substitute">Pokemon Substitute</label>
                        <select class="form-control" class="input-team" id="pokemon_substitute" formControlName="pokemon_substitute">
                                <option [value]="null" disabled selected>Select your holder Pokemon...</option>
                                <option *ngFor="let pokemon of pokemons" [value]="pokemon.id_pokemon"> {{ pokemon.name }} </option>
                        </select>
                    </div>
                    
                    <div class="container-buttons-form">
                        <button type="submit" *ngIf="!isEdit" (click)="postTeam()" class="modal-form-buttons-add" id="submit-team">Submit</button>
                        <button type="submit" *ngIf="isEdit" (click)="putTeam()" class="modal-form-buttons-add" id="update-team">Update</button>
                        
                        <button type="reset" *ngIf="!isEdit" (click)="cleanTeam()" class="modal-form-buttons-reset" id="clean-team">Reset</button>
                        <button type="reset" *ngIf="isEdit" (click)="cancelTeam()" class="modal-form-buttons-reset" id="cancel-team">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
