h4.title{
    margin-top: 8vh;
}

.row{
    display: flex;
    padding: 0 5vw 10vh 5vw;
    margin-bottom: 5vh;

}

.column{
    width: 50vw;
    margin: 0 0 3vh 3.5vw;
}

.table-team-player{
    text-align: center;
    padding: 0;
    width: 50%;
    box-shadow: 10px 5px 5px #A4A4A4;
}

.table-team-player thead{
    color: white;
    background: black;
    padding: 0;
}

.table-team-player thead tr th{
    border-radius: 8px;
    padding: 10px;
}


.table-team-player tbody{
    color: black;
    background: #E9E9E9;
    padding: 0;
}

.table-team-player tbody tr th{
    border-radius: 8px;
    padding: 8px;
}

.container-buttons{
    display: flex;
    height: 100%;
    padding: 8px;
    align-content: center;
    justify-content: center;
}

.container-buttons-add{
    display: flex;
    height: 100%;
    padding: 8px;
    margin-left: 10px;
    align-content: center;
    justify-content: flex-start;
    margin-left: 27px;
    padding-left: 2px;
}

#delete-team{
    border: 3px solid #dc3545;
    color: #dc3545;
    border-radius: 8px;
}

#delete-team:hover{
    background: #dc3545;
    border: 3px solid #dc3545;
    color: white;
    cursor: pointer;
}

#edit-team, #cancel-pokemon{
    border: 3px solid #ffc107;
    color: #ffc107;
    margin-right: 10px;   
    border-radius: 8px;
}

#edit-team:hover, #cancel-pokemon:hover{
    background: #ffc107;
    border: 3px solid #ffc107;
    color: white;
    cursor: pointer;
}

#add-element, #submit-team, #submit-teamPokemons{
    border: 3px solid #28a745;
    color: #28a745;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}

#add-element:hover, #submit-team:hover, #submit-teamPokemons:hover{
    background: #28a745;
    border: 3px solid #28a745;
    color: white;
    cursor: pointer;
}

#clean-team, #cancel-team, #cancel-teamPokemons{
    border: 3px solid #dc3545;
    color: #dc3545;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}

#clean-team:hover, #cancel-team:hover, #cancel-teamPokemons:hover{
    background: #dc3545;
    border: 3px solid #dc3545;
    color: white;
    cursor: pointer;
}

#update-team{
    border: 3px solid #ffc107;
    color: #ffc107;
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
}

#update-team:hover{
    background: #ffc107;
    border: 3px solid #ffc107;
    color: white;
    cursor: pointer;
}

#view-pokemon-h, #view-pokemon-s, .viewAllPokemons{
    border: 3px solid #28a745;
    color: #28a745;
    border-radius: 8px;
    margin-left: 10px;
}

.viewAllPokemons{
    margin-right: 10px;
}

#view-pokemon-h:hover, #view-pokemon-s:hover, .viewAllPokemons:hover{
    background: #28a745;
    border: 3px solid #28a745;
    color: white;
    cursor: pointer;
}

#submit-team:disabled, #submit-teamPokemons:disabled{
    padding: 5px 10px 5px 10px;
    border-radius: 8px;
    background: white;
    border: 3px solid #28a745;
    color: #6c757d;
    cursor: auto;
}

#update-team:disabled{
    border: 3px solid #ffc107;
    padding: 5px 10px 5px 10px;
    background: white;
    border-radius: 8px;
    color: #6c757d;
    cursor: auto;
}

.container-card{
    height: 100%;
    align-items: center;
}

.column-2{
    margin-left: 8vw;
}

i{
    padding-top: 2px;
}

.container-pokemonsTeam{
    display: flex;
    margin-top: 2vh;
}

.container-pokemonsTeam li{
    list-style-type: none;
    margin-left: 8.5px;
    font-weight: bold;
}

.inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-33{
    width: 31%;
}

.input-50{
    width: 47.5%;
}

.inputs label{
    display: block;
    width: 100%;
}

.inputs input{
    width: 98%;
}

.inputs select{
    width: 105%;
}

#label-name{
    margin-top: 0;
}

.forms_team{
    background: white;
    border-radius: 5px;
    border: 2px solid darkslateblue;
    padding: 5vh;
    width: 85%;
    box-shadow: 10px 5px 5px #A4A4A4;
    background: #E9E9E9;
}

.input-player, .input-team{
    border-radius: 5px;
    background: white;
    border: 3px solid darkslateblue;
}

.container-buttons-form{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 35px; 
}

.modal-form-buttons-add{
    margin-right: 20px;
}

span{
    font-style: italic;
    display: block;
    margin-top: 10px;
}

