<div class="container">
    <h3>Team´s</h3>

    <div class="row">
    
        <div class="column">
            <h4 class="title">List of Team´s</h4>
            
            <table class="table-team-player">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Player</th>
                    <th>Level</th>
                    <th>Pokemon's</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody *ngFor="let team of teams">
                    <tr>
                        <th> {{ team.id }} </th>
                        <td> {{ team.name_team }} </td>
                        <td> {{ team.nickname_player }} </td>
                        <td> {{ team.level }} </td>
                        <td>
                            <div class="container-buttons">
                                <button class="viewAllPokemons" [disabled]="(isCancelView && id_vtp == team.id && isTeamsPokemons) || (isCancelView && id_vtp == team.id && !isTeamsPokemons)" [id]="id_vtp" (click)="viewPokemons(team.id)">
                                    View
                                </button>
                                <button id="notView" *ngIf="(id_vtp == team.id && isTeamsPokemons) || (id_vtp == team.id && !isTeamsPokemons)" (click)="notView()">
                                    <i class="fas fa-eye-slash"></i>
                                </button>
                            </div>
                            
                            <div class="container-pokemonsTeam" *ngIf="id_vtp == team.id && isTeamsPokemons">
                                <div class="team_pokemon" *ngFor="let teamPokemon of teamPokemons">
                                    <li>
                                        {{ teamPokemon.PokemonId }}
                                    </li>
                                    
                                    <button id="view-pokemon-h" (click)="viewPokemon(teamPokemon.PokemonId)">
                                        <i class="fas fa-eye"></i>
                                    </button>
                                </div>
                            </div>
                            <span *ngIf="id_vtp == team.id && !isTeamsPokemons">Not Result</span>
                        </td>
                        <td>
                        <div class="container-buttons">
                            <button id="edit-team" (click)="viewTeam(team)">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button id="delete-team" (click)="deleteTeam(team)">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4 class="title"> {{ titleForm }} </h4>

            <form class="forms_team" [formGroup]="formsTeams">
                <div class="inputs">
                        <div class="input-33">
                            <label for="name_team" id="label-name">Name</label>
                            <input type="text" class="input-team" id="name_team" placeholder="Team´s name" formControlName="name_team">    
                        </div>
                        <div class="input-33">
                            <label for="nickname_player">Player</label>
                            <input type="text" class="input-team" id="nickname_player" placeholder="Team´s player" formControlName="nickname_player">
                        </div>
                        <div class="input-33">
                            <label form="level">Level</label>
                            <input type="text" class="input-team" id="level" placeholder="Team´s level" formControlName="level">    
                        </div>
                </div>
                
                <div class="container-buttons-form">
                    <button type="submit" *ngIf="!isEdit" [disabled]="formsTeams.invalid" (click)="postTeam()" class="modal-form-buttons-add" id="submit-team">Submit</button>
                    <button type="submit" *ngIf="isEdit" [disabled]="formsTeams.invalid" (click)="putTeam()" class="modal-form-buttons-add" id="update-team">Update</button>
                    
                    <button type="reset" *ngIf="!isEdit" (click)="cleanTeam()" class="modal-form-buttons-reset" id="clean-team">Reset</button>
                    <button type="reset" *ngIf="isEdit" (click)="cancelTeam()" class="modal-form-buttons-reset" id="cancel-team">Cancel</button>
                </div>
            </form>

            <h4 class="title"> Add the Pokemon´s to your Team </h4>
            
            <form class="forms_team" [formGroup]="formsTeamPokemons">
                <div class="inputs">
                    <div class="input-50">
                        <label for="TeamId">Team</label>
                        <select class="form-control" class="input-team" id="TeamId" formControlName="TeamId">
                                <option [value]="null" disabled selected>Select your team...</option>
                                <option *ngFor="let team of teams" [value]="team.id"> {{ team.name_team }} </option>
                        </select>
                    </div>
                    <div class="input-50">
                        <label for="PokemonId" class="label-select">Pokemon</label>
                        <select class="form-control" class="input-team" id="PokemonId" formControlName="PokemonId" (change)="viewPokemon($event.target.value)">
                                <option [value]="null" disabled selected>Add your pokemon...</option>
                                <option *ngFor="let pokemon of pokemons" [value]="pokemon.id_pokemon"> 
                                    {{ pokemon.name }} 
                                    
                                </option>
                        </select>
                    </div> 
                </div>
                
                <div class="container-buttons-form">
                    <button type="submit"  [disabled]="formsTeamPokemons.invalid" (click)="postTeamPokemons()" class="modal-form-buttons-add" id="submit-teamPokemons">Submit</button>
                    <button type="reset" (click)="cancelTeamPokemons()" class="modal-form-buttons-reset" id="cancel-teamPokemons">Reset</button>
                </div>
            </form> 
        </div>

        <div class="column column-2">
            <div class="container-card" id="container-card" *ngIf="isViewPokemon">
                <div class="card" id="" [ngStyle]="{'background': background_colors[pokemon.type]}">
                    <div class="card-body">
                        <div class="img-container">
                            <img [src]="pokemon.sampleImage" alt="image-profile-pokemon" class="img-pokemon">
                        </div>
                        <h5 class="order-pokemon">Id: {{ pokemon.id_pokemon }}</h5>
                        <h4>Name: {{ pokemon.name }}</h4>
                        <p>Base Experience: {{ pokemon.base_experience }}</p>
                        <p class="text-type">Type: {{ pokemon.type }}</p>

                        <div class="container-buttons">
                            <button id="cancel-pokemon" (click)="cancelPokemon()">
                                Come Back
                            </button>
                        </div>
                    </div>      
                </div>
            </div> 
        </div>
    </div>
</div>
